testesoap/src/main/app/testesoap.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd">
    <flow name="testesoapFlow1" doc:name="testesoapFlow1">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="beneficiario" doc:name="HTTP"/>
        <logger message="Mensagem #[message.payload]" level="INFO" doc:name="Logger"/>
        <cxf:jaxws-client serviceClass="br.com.sulamerica.ConsultaElegibilidadeAutorizador_ConsultaElegibilidadeAutorizador_Client" doc:name="Proxy Service"/>
    </flow>
</mule>
